
.icon-mail:before { content: '\e801'; } /* '' */
.icon-location-alt:before { content: '\e802'; } /* '' */
.icon-mobile:before { content: '\f034'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */